@model IEnumerable<object>

<table class="table">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Total Present</th>
            <th>Total Absent</th>
            <th>Total Late</th>
            <th>Total Absent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var att in Model)
        {
            <tr>
                <td>@att.GetType().GetProperty("EmployeeName").GetValue(att)</td>
                <td class="text-center"><span class="badge bg-success">@att.GetType().GetProperty("TotalPresent").GetValue(att)</span></td>
                <td class="text-center"><span class="badge bg-danger">@att.GetType().GetProperty("TotalAbsent").GetValue(att)</span></td>
                <td class="text-center"><span class="badge bg-warning">@att.GetType().GetProperty("TotalLate").GetValue(att)</span></td>
                <td class="text-center"><span class="badge bg-danger">@att.GetType().GetProperty("TotalAbsentAgain").GetValue(att)</span></td>
            </tr>
        }
    </tbody>
</table>